@charset 'utf-8';

/*#region Colors */

/*  HEX         
    #000000     
    #FFFFFF     
    #555555     
    #0055AA     
    #00AAAA     
    #AA8D00     
    #432100     
    #AA5500     
    #FF8811     
    #FFBB77     
    #FFD4A8     
    #FFEDDB     
*/

/*#endregion*/

/*#region CSS Reset */

/** http://meyerweb.com/eric/tools/css/reset/ **/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin:                         0;
    padding:                        0;
    border:                         0;
    font-size:                      100%;
    font:                           inherit;
    vertical-align:                 baseline;
}
/** html5 display-role reset for older browsers **/ 
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display:                        block;
}
body {
    line-height:                    1;
}
ol, ul {
    list-style:                     none;
}
blockquote, q {
    quotes:                         none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content:                        '';
    content:                        none;
}
table {
    border-collapse:                collapse;
    border-spacing:                 0;
}


/*#endregion*/

/*#region Elements */

body {   
    color:                          #432100;
    padding-top:                    1em;
    background-repeat:              no-repeat;
}
h1 {
    font-size:                      2em;
}
h2 {
    font-size:                      1.5em;
}

nav {
    background-color:               #432100;
    line-height:                    2em;
}
nav h1 {
    display:                        none;
}
input {
    float:                          left;
    clear:                          left;
}
input {
    margin:                         0.16em;
    padding:                        0.25em;
    background-color:               #ffbb77;
    color:                          #432100;
    border-color:                   #ff8811;
    outline:                        0;
}
article, section {
    background-color:               #ffffff;
    padding:                        1em;
    height:                         21em;
    width:                          44em;

}
footer {
    position:                       relative;
    background-color:               #ffffff;
    padding-top:                    23em;
}
footer p {
    font-family:                    arial;
    font-size:                      0.75em;
    color:                          #0055aa;
    text-align:                     center;
}
a {
    color:                          #aa8d00;
    text-decoration:                none;
}
a:hover {
    color:                          #0055aa;
}
nav a {
    font-size:                      1.25em;
    padding-left:                   1em;
}
nav a:hover {
    color:                          #ffbb77;
}
footer a {
    color:                          #0055aa;
}

footer p:after {
    content:                        "(standard)";
}

/*#endregion*/

/*#region IDs */
#contact {
    background-color:               #FFFFFF;
}
#titles {
    background-color:               #555555;
    padding-left:                   1.5em;
    cursor:                         pointer;
}
#title {
    font-size:                      6em;
    font-weight:                    bold;
}
#subtitle {
    font-size:                      3em;
}
#content {
    position:                       relative;
    padding:                        0;
    margin:                         auto;
    width:                          46em;
}
#topics ul{ 
    position:                       relative;
    height:                         8em;
    width:                          98.5%;
    margin-top:                     1em;
}
#topics li {
    text-align:                     center;
    padding:                        .50em;
    cursor:                         crosshair;
}
#topics li p {
    position:                       absolute;
    display:                        none;
    top:                            10em;   
    left:                           2em;
}
/*#endregion*/

@font-face {
  font-family: Aargh;
  src: url('../fonts/aargh-webfont.woff') format('woff');
}
@font-face {
  font-family: DJ;
  src: url('../fonts/dj-webfont.woff') format('woff');
}
body {
  font-family: Aargh, Arial;
}
#title, #subtitle {
  font-family: DJ, Script;
}
/*- text-shadow ----------------------*/
#title {
  text-shadow: 0.16em 0.16em 0.5em #AA5500;
}
h1, h2 {
  text-shadow: 0.016em 0.016em 0.25em #AA5500;
}
nav a {
  text-shadow: 0.16em 0.16em 0.16em #FFBB77;
}
/*- selectors ----------------------*/
/* #topics li:first-child is the same as #topics li: nth-child(1); 
.. and this is not zero based like arrays , (1) is the first child */
/*to select every second one (2n) --> yeki dar miyoon*/
#topics li:nth-child(3n) {
  background-color: #FFBB77;
}
#topics li:nth-child(3n-1) {
  background-color: #FFD4A8;
}
#topics li:nth-child(3n-2) {
  background-color: #FFEDDB;
}
}
/*- hover ----------------------*/
#topics li h1 {
  font-size: 1em;
}
#topics li:hover {
  background-color: #432100;
  color: #FFEDDB;
}
#topics li:hover p {
  display: inherit;
  color: #AA5500;
}

/*- selectors ----------------------*/
/* with position: absolute, the element can be placed anywhere on the page.
Z-index: shows stack order of an element, only for elements that have position property already,
elements with greater stack order will be positioned ahead of elements with lower stack odrer */

/* #intro is everything that shows, the rest should hide behind it, because of their z-index values */
article, section, #intro {
  position: absolute;
}
#intro {
  z-index: 1;
}
/*- selectors  :not and :target ----------------------*/
/*in the #content section, all items that are directly underneath #content, but exxept the target or #intro */
#content>*:not(:target,#intro) { /*target referes to target locations in the page that are refernced by anchor tags in the same page */
  z-index: -1;
}
:target {
  z-index: 2;
}
/*- selectors ::selection ----------------------*/ 
/* when you select a text, the background color and the color of the text will change because of ::selection selector */;
::selection {
  background-color: #FF8811;
  color: #FFFFFF;
}
/*- selectors :root ----------------------*/
/* it's like body except that it compasses the netire documents */
:root {
  background-color: #432100;
}

/*-----Selectors of State ---------*/
/*- selectors of state with regard to the data that being provided by teh user
input and forms */

/*-----Selectors of state    :required ---------*/
/*you can precede it with input, that shows all the inputs that are required, so input: required or :required */
:required {
  background-color: #FFEDDB;
}
/*-----Selectors of state    :valid ---------*/
:valid {
  background-color: #FFFFFF;
};
/*-----Selectors of state    ---------*/
/* ::-webkit-input-placeholder repreents the placeholder text of a form element, 
that you can customize the appearance of that text and style it */

/*if the data is valid, I want the placeholder to look this way*/
:valid ::-webkit-input-placeholder {
  color: #AA5500;
  font-style: italic;
}

/*if the data is invalid, I want the placeholder to look this way*/
:invalid::-webkit-input-placeholder {
  color: #AA5500;
  font-style: italic;
}
/* so the above basically says that I want the placeholder looks the same whether the data is valid or invalid */

/*-----Selectors of state  :not and :optional selectors  ---------*/
/* says if it's not a submit button but anything else and it's optional, make teh border-style, dashed */
/*input data can be required or optional, based on that we have selectors :required or :optional */;
:not([type=submit]) :optional {
  border-style: dashed;
}

/*-----Selectors of state    ---------*/
/*-----Selectors of state    ---------*/
/*-----Selectors of state    ---------*/
/*-----Selectors of state    ---------*/





























